body{
  background-color:#33FFB8 ;
}
img{
  background-color: #33FFB8;
}
.horizontal{
  border-style: none;
  border-top-style: dotted;
  border-color:#FFD733 ;
  border-width: 10px;
  width: 5%;

}
